.gradle/
build/
local.properties

.idea/caches/
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml

app/.cxx/
app/build/

third_party/frida-core-devkit/.extracted
third_party/frida-core-devkit/libfrida-core.a

app/src/main/assets/injector_helper
app/src/main/assets/libhookProxy-64.so
app/src/main/assets/libVOLCAM-64.so
app/src/main/assets/libtest_inject.so